* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    padding: 40px;
}

.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.base {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

td {

}


label {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}

input {
    width: 300px;
    font-size: 24px;
    height: 30px;
}

#phone1 {
width: 1250px;


}

#pn {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
width: 300px;
}
td#pn:hover{
    cursor: pointer;
    opacity: 50%;
    border: 10px black;

}
.mouseClick{
    border: 5px white;
    opacity: 60% ;
}

#name {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 200px;
}
td#name:hover{
    cursor: pointer;
    opacity: 50%;
    border: 10px black;}

#fn {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 300px;
}
td#fn:hover{
    cursor: pointer;
    opacity: 50%;
    border: 10px black;
}
#st {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 250px;
}
td#st:hover {
    cursor: pointer;
    opacity: 50%;
    border: 10px black;
}
#hn {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 50px;
}
td#hn:hover{
    cursor: pointer;
    opacity: 50%;
    border: 10px black;
}
#fl {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 50px;
}
#fl:hover {
    cursor: pointer;
    opacity: 50%;
    border: 10px black;
}
.up{
    text-decoration: overline;
    text-decoration-color: white;
    text-decoration-width: 10px ;
}
.down{
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-width: 5px ;
}

.phone1 {
width: 1250px;
}

.pn{
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 300px;
}

.name {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 200px;
}

td.fn {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 300px;
}

.st {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 250px;
}

.hn {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 50px;
}

.fl {
    background-color: darkslategrey;
    font-size: 24px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 40px;
    width: 50px;
}